{{#each post as |post|}}
  <div class="container">
    <a href='/post/{{post.id}}' class="text-success">>{{post.title}}</a>
    <span class="text-info">//{{post.user.name}}</span>
    <p class="text-white">{{post.content}}</p>
  </div>
{{/each}}