<div class="container">
<h3 class="text-success">>Already have an account? Login here!█</h3>
<form id='login'>
  <div class="form-group">
  <input class="form-control" id='email' placeholder='email' type='email' />
  </div>
  <div class="form-group">
  <input class="form-control" id='password' placeholder='password' type='password' />
  </div>
  <button type='submit' class="btn btn-warning text-white">Login</button>
</form>

<h3 class="text-success">>Create your account and start blogging with us!█</h3>
<form id='signup'>
  <div class="form-group">
  <input class="form-control" id='signupusername' placeholder='username' type='text' />
  </div>
  <div class="form-group">
  <input class="form-control" id='signupemail' placeholder='email' type='email' />
  </div>
  <div class="form-group">
  <input class="form-control" id='signuppassword' placeholder='password' type='password' />
  </div>
  <button type='submit' class='btn btn-warning text-white'>Login</button>
</form>
</div>